//output: about-home.html
.ui.container
  .ui.middle.aligned.center.aligned.grid
    .column
      h2.ui.teal.image.header
        img.image(src='assets/images/logo.png')
        .content
          | MEA2N About Page
      br
      a( routerLink="/home" routerLinkActive="active" style='margin-right: 5px') Home
      a( routerLink="/about/1" routerLinkActive="active" style='margin-right: 5px') About 1
      a( routerLink="/about/2" routerLinkActive="active" style='margin-right: 5px') About 2
