//output:template.html
.ui.container
  .ui.middle.aligned.center.aligned.grid
    .column
      h2.ui.teal.image.header
        img.image(src='assets/images/logo.png')
        .content
          | MEA2N Home Page
      br
      a( routerLink="/home"  routerLinkActive="active" style='margin-right: 5px') Home
      a( routerLink="/about" routerLinkActive="active" style='margin-right: 5px') About
