//output:template_about_container.html
.ui.container

  .ui.middle.aligned.center.aligned.grid
    .column
      h2.ui.teal.image.header
        img.image(src='assets/images/logo.png')
        .content
          | MEA2N About Pages
          
  .ui.middle.aligned.center.aligned.grid          
    a([routerLink]="['/about']") About Home 
    a([routerLink]="['/about/item', 1]") Item 1 
    a([routerLink]="['/about/item', 2]") Item 2  
  .space-block-50
    
  .ui.middle.aligned.center.aligned.grid              
    .inner-outlet
      router-outlet
